.table-top {
  position: absolute;
  top:0;bottom:0;left:0;right:0;
  margin: auto;
  width: 800px;
  padding: 10px;
}

.piece, .king {
  border:3px groove gray;
  position: absolute;
  margin: 19px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

#selected {
  box-shadow: 0px 0px 20px white;
}

[name*='black'] {
  background: linear-gradient(to bottom right, #b3b3b3, #000);
}

[name*='red'] {
  background: linear-gradient(to bottom right, #b3b3b3, #A00);
}

.tile {
  display: inline-block;
  height: 11.8%;
  width: 11.8%;
  margin: -2px 0;
}
.red {
  background: red;
}
.black {
  background: black;
}

.wrapper {
  height:100%;
}

body {
  height: 100%;
  position: relative;
}

div {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: linear-gradient(to bottom right, #999, #031634);
}
