<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="../../public/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="../../public/css/application.css">

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="../../public/js/application.js"></script>

  <title>Checkers</title>
</head>
<body>
  <div class="wrapper">
    <div class="table-top"></div>

    <svg width="720" height="120">
      <circle cx="50" cy="60" r="25"></circle>
      <circle cx="150" cy="60" r="25"></circle>
      <circle cx="250" cy="60" r="25"></circle>
    </svg>

  </div>
</body>
</html>
